.login-layout {
    display: flex;
    width: 100vw;
    background: #fff;
    align-items: center;
    justify-content: center;
}

.login-left {
    flex: 1.2;
    padding: 48px 64px 48px 80px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    max-width: 520px;
}

.logo {
    height: 40px;
    width: 100px;
    margin-bottom: 24px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

input[type="email"],
input[type="password"] {
    padding: 10px 16px;
    font-size: 1rem;
    border: 1px solid #b2beb7;
    border-radius: 7px;
    margin-bottom: 14px;
    width: 100%;
    box-sizing: border-box;
}

.password-wrap {
    position: relative;
}

.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 13px;
    margin-bottom: 12px;
}

.forgot {
    color: #f7a6a5;
    text-decoration: none;
}

.login-btn {
    padding: 12px;
    background: #8fdacb;
    color: #263238;
    border: none;
    border-radius: 7px;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 8px;
    cursor: pointer;
}

.social-icons .icon {
    height: 32px;
    width: 32px;
}

.signup {
    color: #f7a6a5;
    text-decoration: none;
    cursor: pointer;
}

.social-row {
    margin-top: 18px;
    font-size: 13px;
}

.social-icons {
    display: flex;
    gap: 18px;
    margin-top: 8px;
    width: 100%;
}

.social-icons button {
    background: transparent;
    border: 2px solid #cfd8dc;
    border-radius: 9px;
    height: 60px;
    width: 30%;
    cursor: pointer;
}

.login-right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.carousel {
    // background: #fff;
    border-radius: 20px;
    // box-shadow: 0 2px 20px 0 rgba(60, 72, 91, 0.14);
    // padding: 10px;
    width: 430px;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.carousel-img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    border-radius: 16px;
}

.carousel-controls {
    position: absolute;
    bottom: 35px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 14px;
}

.carousel-controls button {
    background: #edf1f7;
    border: none;
    border-radius: 50%;
    width: 37px;
    height: 37px;
    font-size: 20px;
    color: #14a1ab;
    cursor: pointer;
}

.carousel-indicator {
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 8px;
}

.carousel-indicator span {
    display: inline-block;
    width: 18px;
    height: 5px;
    border-radius: 3px;
    background: #e9ecef;
    transition: background 0.3s;
}

.carousel-indicator span.active {
    background: #6fdacb;
}

@media screen and (max-width: 768px) {
    .login-layout {
        flex-direction: column-reverse;
        overflow-y: scroll;
    }
}

.back-btn {
    background-color: transparent;
    border: 0;
    display: flex;
    align-items: center;
    font-size: 18px;
    gap: 5px;
    cursor: pointer;
    width: fit-content;
}

.back-btn-icon {
    height: 32px;
    width: 32px;
}

.separator{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}
.separator .line{
    width: 30%;
    background-color: #263238;
    height: 1px;
}