.recent-searches {
    margin-top: 250px;
}

.sections {
    margin-top: 50px;
}

.home-container-wrapper {
    display: flex;
    align-items: center;
    padding: 0 100px;
}

.home {
    max-width: 1200px;
    overflow: hidden;
    padding-bottom: 150px;
}

.search-cards-wrapper {
    margin-top: 10px;
    display: flex;
    overflow-x: scroll;
}

.search-card {
    background-color: transparent;
    display: flex;
    gap: 10px;
    align-items: center;
    min-width: 280px;
}

.search-image {
    height: 60px;
    width: 60px;
}

.trave-card {
    height: 300px;
    width: 230px;
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.travel-cards-wrapper{
    margin-top: 10px;
    display: flex;
    gap: 20px;
    overflow-x: scroll;
}

.trave-card .details {
    display: flex;
    color: white;
    align-items: end;
    justify-content: center;
    gap: 20px;
    width: 100%;
}

.trave-card .title-wrapper {
    display: flex;
    flex-direction: column;
}

.trave-card .subtitle{
    font-size: 10px;
}

.trave-card .book {
    margin-top: 15px;
    height: 30px;
    width: 80%;
    border-radius: 8px;
    background-color: var(--brand-color-primary);
    border: 0;
}