<booking-app-banner></booking-app-banner>

<div class="home-container-wrapper">
    <div class="home">
        <div class="recent-searches">
            <p class="separator">
                Your Recent Searches
            </p>
            <div class="search-cards-wrapper">
                <div class="search-card">
                    <img src="assets/location.png" alt="" class="search-image">
                    <div class="search-text-wrapper">
                        <p class="search-text-title">
                            Istanbul, Turkey
                        </p>
                        <p class="search-text-subtitle">
                            325 places
                        </p>
                    </div>
                </div>
                <div class="search-card">
                    <img src="assets/location.png" alt="" class="search-image">
                    <div class="search-text-wrapper">
                        <p class="search-text-title">
                            Istanbul, Turkey
                        </p>
                        <p class="search-text-subtitle">
                            325 places
                        </p>
                    </div>
                </div>
                <div class="search-card">
                    <img src="assets/location.png" alt="" class="search-image">
                    <div class="search-text-wrapper">
                        <p class="search-text-title">
                            Istanbul, Turkey
                        </p>
                        <p class="search-text-subtitle">
                            325 places
                        </p>
                    </div>
                </div>
                <div class="search-card">
                    <img src="assets/location.png" alt="" class="search-image">
                    <div class="search-text-wrapper">
                        <p class="search-text-title">
                            Istanbul, Turkey
                        </p>
                        <p class="search-text-subtitle">
                            325 places
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="travel-locations sections">
            <p class="separator">
                Fall into travel
            </p>
            <div class="travel-cards-wrapper">
                <div class="trave-card" [style.background-image]="`url(${backgroundImage})`">
                    <div class="details">
                        <div class="title-wrapper">
                            <div class="title">
                                Melbourne
                            </div>
                            <div class="subtitle">
                                An amazing journey
                            </div>
                        </div>
                        <div class="price">
                            $ 700
                        </div>
                    </div>
                    <button class="book">
                        Book
                    </button>
                </div>

                <div class="trave-card" [style.background-image]="`url(${backgroundImage})`">
                    <div class="details">
                        <div class="title-wrapper">
                            <div class="title">
                                Melbourne
                            </div>
                            <div class="subtitle">
                                An amazing journey
                            </div>
                        </div>
                        <div class="price">
                            $ 700
                        </div>
                    </div>
                    <button class="book">
                        Book
                    </button>
                </div>

                <div class="trave-card" [style.background-image]="`url(${backgroundImage})`">
                    <div class="details">
                        <div class="title-wrapper">
                            <div class="title">
                                Melbourne
                            </div>
                            <div class="subtitle">
                                An amazing journey
                            </div>
                        </div>
                        <div class="price">
                            $ 700
                        </div>
                    </div>
                    <button class="book">
                        Book
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

@if (showLoginCard) {
    <app-login></app-login>
}