.globe-navbar__wrapper {
    width: 100vw;
    height: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.globe-navbar__left-tab-container {
    display: flex;
    gap: 40px;
    height: 100%;
}

.globe-navbar__left-tab-container p {
    margin: 0;
}

.globe-navbar__tab-icon {
    height: 24px;
    width: 24px;
}

.globe-navbar__tab-item.active {
    z-index: 2;
    border-bottom: 3px solid var(--brand-color-primary);
}

.globe-navbar__tab-item {
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    gap: 4px;
}

.globe-navbar__logo {
    height: 70px;
    width: 220px;
}

.globe-navbar__right-container {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
}

.globe-navbar__right-container .btn {
    height: 40px;
    width: 100px;
    cursor: pointer;
}

.globe-navbar__login {
    background-color: transparent;
    border: 0;
    font-weight: 900;
}

.globe-navbar__signup {
    background-color: black;
    border: 0;
    color: white;
    border-radius: 10px;
}

.hidden {
    display: none;
}

.globe-navbar-hamburger {
    height: 36px;
    width: 36px;
    cursor: pointer;
}


.mobile-nav {
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

.globe-navbar__fav {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    gap: 8px;
    font-size: 18px;
}

.globe-navbar__profile {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    cursor: pointer;
    position: relative;
    img {
        border-radius: 50%;
    }
    .dropdown{
        position: absolute;
        right: 0;
        bottom: 0;
        background-color: rgb(184, 239, 220);
        padding: 4px;
        transition: transform 300ms ease;
    }
}

.dropdown.active{
    transform: rotate(180deg);
}