<footer class="footer">
    <div class="footer-container">
        <div class="footer-brand">
            <div class="logo">g<span style="color:#49b686">🌏</span>lobe</div>
            <div class="social-links">
                <a href="#"><img src="assets/facebook.svg" alt="Facebook" /></a>
                <a href="#"><img src="assets/twitter.svg" alt="Twitter" /></a>
                <a href="#"><img src="assets/youtube.svg" alt="YouTube" /></a>
                <a href="#"><img src="assets/instagram.svg" alt="Instagram" /></a>
            </div>
        </div>
        <div class="footer-columns">
            <div class="footer-col">
                <h4>Our Destinations</h4>
                <ul>
                    <li>Canada</li>
                    <li>Alaska</li>
                    <li>France</li>
                    <li>Iceland</li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Our Activities</h4>
                <ul>
                    <li>Northern Lights</li>
                    <li>Cruising & sailing</li>
                    <li>Multi-activities</li>
                    <li>Kayaking</li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Travel Blogs</h4>
                <ul>
                    <li>Bali Travel Guide</li>
                    <li>Sri Lanka Travel Guide</li>
                    <li>Peru Travel Guide</li>
                    <li>Bali Travel Guide</li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>About Us</h4>
                <ul>
                    <li>Our Story</li>
                    <li>Work with us</li>
                </ul>
            </div>
            <div class="footer-col">
                <h4>Contact Us</h4>
                <ul>
                    <li>Our Story</li>
                    <li>Work with us</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer__newsletter-container">
        <div class="footer__newsletter-wrapper">
            <div class="footer__newsletter-content">
                <div class="footer__newsletter-container-title">
                Subscribe to Newsletter
            </div>
            <p class="title">The travel</p>
            <p class="text">
                Get inspired! Receive travel discounts, tips and behind the scenes stories.
            </p>
            <div class="form">
                <input type="email" placeholder="Enter your email" name="" id="">
                <button class="subscribe-btn">Subscribe</button>
            </div>
            </div>
            <img src="assets/mail.png" class="mail-icon" alt="" srcset="">
        </div>
    </div>
</footer>